### Tarea 2 
### Autor: Javier Abarca Jimenez 
### Carné: B70018
### Dataset: [Rain in Australia](https://www.kaggle.com/jsphyg/weather-dataset-rattle-package)

1.Proponga un problema original de clasificación (binaria o multiclase), o un bien un problema de regresión e implemente un modelo para resolver dicho problema usando al menos dos algoritmos de aprendizaje de máquina de los estudiados en clase.


2.Busque un data set público (libre elección) para utilizarlo en el problema planteado. Si el problema es de clasificación, su data set debe estar etiquetado. El data set no debe ser gigantesco pero sí grande dentro de lo que sea posible para su ambiente de trabajo. La riqueza de un data set no depende únicamente de su tamaño sino también de las características de los datos. Sin embargo, aara sacar mejor provecho de los algoritmos vistos a utilizar, procure conseguir un data set con no menos de 10 mil observaciones.


3.Entre los algoritmos a utilizar, puede elegir entre DecisionTree, RandomForest, Extreme Gradient Boosting, Support Vector Machines, Extra Trees, Multilayer Perceptron, Deep Neural Network, entre otros.


4.Como sugerencia utilice las herramientas disponibles en la biblioteca de scikit-learn, pero no se limite a ellas. Si desea utilizar otras herramientas de su preferencia lo puede hacer. Al utilizar redes neuronales, puede utilizar el ambiente theano o tensorflow mediante el wrapper de keras tal y como se hizo en la Práctica #5.

## 1. Problema
Con el conjunto de datos *Western Australia Weather 1944-2016* se van a crear dos modelos para poder predecir si al día siguiente va a llover. Este problema es de clasificación binaria.

In [22]:
import pandas as pd
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.ensemble import RandomForestClassifier

In [26]:
# Load dataset
data = pd.read_csv('https://raw.githubusercontent.com/Jaleab/agvd-21b-javier-abarca/main/tareas/tarea_2/weatherAUS.csv')

## 2. Exploración

In [27]:
data.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [28]:
data.shape

(145460, 23)

El conjunto de datos es grande, tiene 145 mil filas y 23 columnas.

In [29]:
data.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

Tiene 7 atributos categóricos de los 23 que tiene el conjunto.

## Preprocesamiento y limpieza

In [33]:
# Eliminacion de RainTomorrow
data = data.drop("RainTomorrow", axis=1)

In [34]:
# Cantidad de elementos unicos
data.nunique()

Date             3416
Location           26
MinTemp           348
MaxTemp           395
Rainfall          410
Evaporation       259
Sunshine          145
WindGustDir        16
WindGustSpeed      61
WindDir9am         16
WindDir3pm         16
WindSpeed9am       36
WindSpeed3pm       37
Humidity9am       101
Humidity3pm       101
Pressure9am       504
Pressure3pm       507
Cloud9am            9
Cloud3pm           10
Temp9am           383
Temp3pm           393
RainToday           2
dtype: int64

In [35]:
# Verificacion de la limpieza
data.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
dtype: int64

In [36]:
# Eliminacion de nulos
data = data.dropna()
# Chequeo de cantidad de filas
data.shape

(56420, 22)

Aproximadamente la mitad de los datos tenían valores nulos.